<ng-container *ngIf="ready">
    <div class="user-list">
        <div class="table table-primary table-cols-3">
            <ng-container *ngFor="let user of users; let i = index">
                <div class="tr header" [class.card-table-only]="i !== 0">
                    <div class="td">Username</div>
                    <div class="td">Name</div>
                    <div class="td"></div>
                </div>
                <div class="tr">
                    <div class="td">{{ user.username }}</div>
                    <div class="td">{{ user.name }}</div>
                    <div class="td">
                        <div class="button-holder">
                            <a [routerLink]="user.username" class="button button-transitioning button-secondary">Change</a>
                            <a [routerLink]="[user.username, 'remove']" class="button button-transitioning button-secondary">Remove</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <button type="button" class="button button-primary">Add new user</button>
</ng-container>

<div class="loading" *ngIf="!ready">
    <p>Loading in progress, your information will be there soon!</p>
</div>
