<div class="view">
    <div class="nav-container">
        <ul class="nav-list">
            <li>
                <a routerLink="/">Dashboard</a>
            </li>
            <li>
                <a routerLink="/users">Users</a>
            </li>
            <li>
                <a routerLink="/">Logs</a>
            </li>
            <li>
                <a routerLink="/">Tokens</a>
            </li>
            <li>
                <a routerLink="/bliepbloep">Bliep bloep</a>
            </li>
        </ul>
    </div>

    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>
