:host {
    min-width: 100%;
}

.view {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.24fr 1fr;
    min-height: 100%;
    min-width: 100%;
}

.content-container {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 2em;
}

.nav-container {
    background: var(--color-secondary);
    color: var(--color-text-secondary);
    box-shadow: 0.25em 0 0.5em 0 var(--color-shadow);
    padding: 1em;
    grid-row-start: 1;
    grid-row-end: 3;
}

.nav-list {
    display: flex;
    flex-direction: column;

    li {
        margin-bottom: 1em;
        display: flex;

        a {
            flex-grow: 1;
            &:hover {
                color: var(--color-text-primary);
            }
        }
    }
}
