.table {
    --table-color: inherit;
    --table-header-text-color: inherit;
    border-collapse: collapse;
    border-bottom: 1px solid var(--table-color);
    width: 100%;

    .tr {
        display: flex;
        width: 100%;

        &:nth-child(1) {
            background: var(--table-color);
            color: var(--table-header-text-color);
            .td:not(:last-child) {
                border-right: 1px solid var(--table-header-text-color);
            }
        }
    }

    .td {
        padding: 0.5em;
        border: 1px solid var(--table-color);
        width: 100%;
        word-break: break-all;
    }
}

.table-cols-2 .td {
    width: 50%;
}
.table-cols-3 .td {
    width: 33.3%;
}
.table-cols-4 .td {
    width: 25%;
}
.table-cols-5 .td {
    width: 20%;
}
.table-cols-6 .td {
    width: 16.67%;
}

.table-primary {
    --table-color: var(--color-primary);
    --table-header-text-color: var(--color-text-secondary);
}

.table-secondary {
    --table-color: var(--color-secondary);
    --table-header-text-color: var(--color-text-secondary);
}

.table-accent {
    --table-color: var(--color-accent);
    --table-header-text-color: var(--color-text-secondary);
}
